
<footer class="footer-distributed">

    <div class="footer-left">

        <div class="footer-icons">
            <div>
                <img id="windlogger-logo" alt="WindLogger logo" src="https://img.icons8.com/ios-filled/50/000000/strategy-game.png">
            </div>
            <div>
                <h5>TheWind<span>Logger</span></h5>
            </div>
        </div>
        <p class="footer-company-name">By UgeHidalgo &copy; 2020</p>
    </div>

    <div class="footer-right">

        <div class="footer-icons">
            <a routerLink="/mainscreen"><mat-icon svgIcon="home"></mat-icon></a>
            <a href="mailto:ehidalgo@hotmail.com"><mat-icon svgIcon="email"></mat-icon></a>
            <a href="https://github.com/ugeHidalgo" target="_blank"><mat-icon svgIcon="github"></mat-icon></a>
            <a href="https://www.linkedin.com/in/ugehidalgo/" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
        </div>

        <p class="footer-app-status" *ngIf="globals.server && globals.showServerUrl">
            Server @ {{globals.server}}
        </p>
    </div>

</footer>