footer {
    width: 100vw;
    height: 100px;
    margin-top: 8px;
    display: inline-block;
    align-items: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }