<mat-toolbar>
    <span>Recuperar contraseña</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form [formGroup]="forgotForm">
            <p>Introduzca el nombre de usuario o correo al que enviaremos enlace para recuperar la contraseña.</p>
            <mat-form-field class="full-width-form-field" >
                <mat-icon matPrefix><i class="fa fa-user"></i></mat-icon>
                <input matInput type="text" formControlName="userName" placeholder="Nombre de usuario:" autofocus required>
                <mat-error *ngFor="let validation of validation_messages.userName">
                    <mat-error *ngIf="isInvalidField('userName',validation.type)"> 
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-form-field" >
                <mat-icon matPrefix><i class="fa fa-envelope"></i></mat-icon>
                <input matInput type="email" formControlName="email" placeholder="Correo electrónico:" required>
                <mat-error *ngFor="let validation of validation_messages.email">
                    <mat-error *ngIf="isInvalidField('userName',validation.type)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onResetPassword()" color="primary" [disabled]="forgotForm.pristine || forgotForm.invalid">
            Recuperar
        </button>
        <button mat-raised-button (click)="close()">Cerrar</button>
    </mat-card-actions>
</mat-card>