<h1 mat-dialog-title>Uso del material</h1>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="validatingForm">
        <mat-grid-list cols="6" rowHeight="60px">
            <!---------------- Row 1 ----------------->
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>Material:</mat-label>
                    <mat-select placeholder="Material: " formControlName="material" (selectionChange)="onMaterialChanged($event)" required>
                        <mat-option *ngFor="let material of data.materials" [(value)]=material.name>
                            {{material.name}} : {{material.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let validation of validationMessages.material">
                        <mat-error align="end" *ngIf="isInvalidField('material',validation.type)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>Tipo material:</mat-label>
                    <input matInput placeholder="Tipo material:" formControlName="materialType" type="text" readonly>
                </mat-form-field>
            </mat-grid-tile>

            <!---------------- Row 2 ----------------->
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>% uso:</mat-label>
                    <input matInput class="my-numeric-field" placeholder="% uso:" formControlName="usePercentage"
                                    type="number" (change)="onUsePercentageChanged($event)">
                    <mat-error *ngFor="let validation of validationMessages.usePercentage">
                        <mat-error align="end" *ngIf="isInvalidField('usePercentage',validation.type)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>Tiempo:</mat-label>
                    <input  matInput class="my-numeric-field" placeholder="Tiempo:" formControlName="time" required>
                    <mat-error *ngFor="let validation of validationMessages.time">
                        <mat-error align="end" *ngIf="isInvalidField('time',validation.type)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>Distancia:</mat-label>
                    <input matInput class="my-numeric-field" placeholder="Distancia:" formControlName="distance" type="number" required>
                    <mat-error *ngFor="let validation of validationMessages.distance">
                        <mat-error align="end" *ngIf="isInvalidField('distance',validation.type)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
<!-- </div> -->
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onCancelClick()">Cancelar</button>
  <button mat-button (click)="onOkClick()" [disabled]='validatingForm.invalid || !validatingForm.touched'>Ok</button>
</div>
