<mat-toolbar>
    <span>Introduzca nueva contraseña para el usuario: {{userName}}</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form [formGroup]="passwordsForm">
            <div class="md-form form-sm">
                <mat-form-field class="full-width-form-field" >
                    <input matInput type="password" formControlName="password" placeholder="Nueva Contraseña:" required>
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error *ngIf="passwordsForm.get('password').hasError(validation.type) && (passwordsForm.get('password').dirty || passwordsForm.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="md-form form-sm">
                <mat-form-field class="full-width-form-field" >
                    <input matInput type="password" formControlName="password2" placeholder="Repetir nueva contraseña:" required>
                    <mat-error *ngFor="let validation of validation_messages.password2">
                        <mat-error *ngIf="passwordsForm.get('password2').hasError(validation.type) && (passwordsForm.get('password2').dirty || passwordsForm.get('password2').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onChangePassword()" color="primary">Cambiar</button>
        <button mat-raised-button (click)="close()">Cerrar</button>
    </mat-card-actions>
</mat-card>