<mat-toolbar>
  <span>Login</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="User name" name="userName" [(ngModel)]="model.userName">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
      </mat-form-field>
    </form>
    <div>
      <p>¿No tienes cuenta? Regístrate <a [routerLink]="['/register']">aquí</a></p>
      <p>¿Olvidaste la <a [routerLink]="['/forgot']">contraseña?</a></p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button (click)="close()">Cerrar</button>
  </mat-card-actions>
</mat-card>

