<div class="card">
    <div class="card-header">
        <div class="grid-title">Tipos de material deportivo</div>
        <mat-toolbar color="primary" class="my-header-bar">
          <button mat-raised-button color="primary" (click)="onClickAddButton()">
            <i class="material-icons">note_add</i>
          </button>
          <button  mat-raised-button color="primary" (click)="onClickEditButton()">
            <i class="material-icons">edit</i>
          </button>
          <button mat-raised-button color="warn" (click)="onClickRemoveButton()">
            <i class="material-icons">delete</i>
          </button>
          <i class="material-icons">search</i>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </mat-toolbar>
    </div>
    <div class="card-body">
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="sportName">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header><h3>Deporte</h3></th>
          <td mat-cell *matCellDef="let materialType">{{materialType.sportName ? materialType.sportName : ''}}</td>
        </ng-container>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Nombre</h3></th>
          <td mat-cell *matCellDef="let materialType">{{materialType.name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Descripción</h3></th>
          <td mat-cell *matCellDef="let materialType">{{materialType.description}}</td>
        </ng-container>
 
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef><h3>En uso</h3></th>
          <td *matCellDef="let materialType">
            <mat-checkbox [checked]="materialType.active"  [disableRipple]="true" (click)="$event.preventDefault()"></mat-checkbox>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectRow(row)"
            [style.background]="row.id == selectedRowId ? 'bisque' : ''">
        </tr>
        <tr mat-footer-row *matFooterRowDef="displayedFooterColumns"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </div>
  </div>
  