<div *ngIf="transaction" class="transaction-edition-card">
  <div class="card-header">
    <div class="card-title">{{title}}</div>
    <mat-toolbar color="primary" class="my-header-bar">
      <button mat-raised-button color="primary" (click)="onClickGoBackButton()">
        <i class="material-icons">arrow_back</i>
      </button>
      <button  mat-raised-button color="green" (click)="onClickSaveButton()" type="submit" [disabled]='validatingForm.invalid || !validatingForm.touched'>
        <i class="material-icons">save</i>
      </button>
      <button mat-raised-button color="warn" (click)="onClickUndoButton()">
        <i class="material-icons">undo</i>
      </button>
    </mat-toolbar>
  </div>
  <div class="card-body">
    <form [formGroup]="validatingForm" (ngSubmit)="onClickSaveButton()">

      <mat-form-field class="full-width">
        <mat-label>Fecha:</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Fecha:" formControlName="date" [value]=transaction.date>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngFor="let validation of validation_messages.date">
          <mat-error align="end" *ngIf="isInvalidField('date',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Tipo de movimiento:</mat-label>
        <mat-select placeholder="Tipo movimiento: " formControlName="transactionType" (selectionChange)="onTransactionTypeSelected()">
            <mat-option *ngFor="let transactionType of transactionTypes" [(value)]=transactionType.value>
                {{transactionType.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.transactionType">
          <mat-error align="end" *ngIf="isInvalidField('transactionType',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cuenta de cargo:</mat-label>
        <mat-select placeholder="Cuenta: " formControlName="account">
            <mat-option *ngFor="let account of accounts" [(value)]=account.name>
                {{account.name}}: {{account.description}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.account">
          <mat-error align="end" *ngIf="isInvalidField('account',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Centro de gasto:</mat-label>
        <mat-select placeholder="Centro de gasto: " formControlName="costCentre">
            <mat-option *ngFor="let costCentre of costCentres" [(value)]=costCentre.name>
                {{costCentre.name}}: {{costCentre.description}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.costCentre">
          <mat-error align="end" *ngIf="isInvalidField('costCentre',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Concepto: " formControlName="concept" required>
            <mat-option *ngFor="let concept of concepts" [(value)]=concept.name>
                {{concept.name}}: {{concept.description}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.concept">
          <mat-error align="end" *ngIf="isInvalidField('concept',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cantidad:</mat-label>
        <!-- <input  matInput  placeholder="Cantidad:"  formControlName="amount" [ngModel]="transaction.amount | euroCurrencyPipe" required -->
        <input  matInput  placeholder="Cantidad:"  formControlName="amount" [ngModel]="transaction.amount" required type="number"
                [ngStyle]="{'color': transaction.amount < 0 ? 'red' : 'black'}" (change)="onAmountChanged()" id="my-amount-field">
        <mat-error *ngFor="let validation of validation_messages.amount">
          <mat-error *ngIf="isInvalidField('amount',validation.type)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Comentarios:</mat-label>
        <input  matInput  placeholder="Comentarios:" formControlName="comments" [(ngModel)]="transaction.comments">
      </mat-form-field>
    </form>
  </div>
</div>
